* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;

}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 10px  20px;
    padding: 40px 20px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;

}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px
}
button {
    border: none;/* button will be clean without no border and no outline*/
    outline: none;
    padding: 16px 50px; /*16 px top and bottom and left right 50px*/
    background: #ff5945;/* color of the button*/
    color: #fff; /*button text color*/
    font-size: 16px;
    cursor: pointer; /* this will show the hand symbol after we close the pointer to the add button */
    border-radius: 40px; /* this will round the button from the two side */


}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;


}
ul li.checked {
    color: #555;
    text-decoration: line-through; /* this shows a crossed line in the statement */

}
ul li.checked::before {
    background-image:url(./checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%; /* get round the button */

}

ul li span:hover {
    background: #edeef0; /*this will hover the cross picrture */
}

